 p{
     color: rgb(192, 246, 255)
 }

 .W {
     color: rgb(255, 0, 195);
     text-decoration:underline
 }

 #hi {
     color: red
 }

 h1 {
     color: rgb(236, 238, 130);
    font-family: arial, sans-serif, helvetica;
    font-weight:600;
    background-color:blueviolet;
 }

 h2 {
     color: rgb(38, 0, 255);
    font-family: arial, sans-serif, helvetica;
    font-weight:bold;
    background-color:aquamarine
 }