body{
    background-color:aqua
}
header{
    background-color:aquamarine
}
nav{
    background-color:#eeeeee
}
#intro{
    background-color:lightpink;
    font-family: arial,sans-serif,helvetica;
    
}
footer{
    background-color:lightgreen;
}
.main-section content h2{
    background-color:lightblue;
    font-family: arial, sans-serif, helvetica;
}
body,header,nav,#intro,footer,.main-section content h2{
    border:1px solid black;
}
header,nav,main-section{
    border-radius:10px
}
h1{
    font-size: 50px;
    font-family: Arial, sans-serif, helvetica;
    
}
h2{
    color:blueviolet;
}
table,th,td{
    border:1px solid black;
}
tr:first-child{
    color:red;
}
span{
    color:blue;
}
button{
    background-color:pink;
    color:white;
font-size:20px;
font-weight:bold;
}
ul{
    list-style-type:none;
}
.teacher-info{
    border:50px;
}
li a:hover{
    color:red;
}
p{
    font-size:18px;
}
h3{
    font: size 20px;
    text-decoration:underline;
font-family: Arial, sans-serif, helvetica;
}
li a{
    color:black;
    font-size: 20px;
        font-weight:600;
}