body{
    margin:0;
    font-family:sans-serif,Arial, Helvetica
}
.topnav{
    overflow: hidden;
    background-color:black;
}
.topnav a{
    float:left;
    color:rgb(200, 244, 167);
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;

}
.topnav a:hover{
    background-color:white;
    color:black;

}
.topnav a:active{
    background-color: rgb(245, 245, 134);
        color: black;
}
.gallery{
    color:rgb(239, 137, 154);
}
.footer{
    left:0;
    bottom:0;
    position:fixed;
    background-color: black;
    color: aliceblue;
    text-align:center;
    width:100%;
}
.C{
    color: rgb(166, 237, 112);
}
.A{
    color:purple;
}
.he3{
    color:lightcoral
}
.topImage {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    background-image: url('flower1.jpeg');
}

.section {
    text-align: center;
    padding: 50px, 80px;
}

.section-dark {
    background-color: rgb(60, 49, 49);
    color: aliceblue;
}

.topImagetext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.topImagetext .border {
    background-color: rgb(60, 49, 49);
    color: aliceblue;
    padding: 20px;
}

.topImagetext .border.trans {
    background-image: transparent;
}